<hr />
<div class="row">
    <div ng-if="isLoading">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Loading...</label>
        </div>
        <div class="col-xs-4"></div>
    </div>

    <!--Personal details-->
    <div class="col-lg-9" ng-hide="isLoading">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="">
                    <legend>{{IsAdding ? 'Add New User' : 'Edit User'}}</legend>

                    <div class="form-horizontal" novalidate>
                        <fieldset>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">User Name</label>
                                    <div class="col-sm-10">
                                        <input class="form-control form-control-rounded" type="text" ng-disabled="!IsAdding" ng-model="vm.User.Username" maxlength="200">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input class="form-control form-control-rounded" type="text" ng-model="vm.User.Email" maxlength="200">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">First Name</label>
                                    <div class="col-sm-10">
                                        <input class="form-control form-control-rounded" type="text" ng-model="vm.User.Firstname" maxlength="200">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Last Name</label>
                                    <div class="col-sm-10">
                                        <input class="form-control form-control-rounded" type="text" ng-model="vm.User.Lastname" maxlength="200">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <!-- SECURITY PART -->
                    <legend>Security</legend>

                    <div class="form-horizontal" novalidate>
                        <fieldset>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Activation status</label>
                                    <div class="col-sm-10">
                                        <div class="checkbox c-checkbox">
                                            <label>
                                                <input type="checkbox" ng-checked="vm.User.IsActivated" ng-model="vm.User.User.IsActivated">
                                                <span class="fa fa-check"></span>
                                                Activated
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Lockout status</label>
                                    <div class="col-sm-10">
                                        <div class="checkbox c-checkbox">
                                            <label>
                                                <input type="checkbox" ng-checked="vm.User.IsLocked" ng-model="vm.User.User.IsLocked">
                                                <span class="fa fa-check"></span>
                                                Locked out
                                            </label>
                                        </div>
                                        <h4><user-status is-locked="{{vm.User.User.IsLocked}}" /></h4>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Roles</label>
                                    <div class="col-sm-10">
                                        <div ng-repeat="role in vm.AllRoles">
                                            <div class="checkbox c-checkbox">
                                                <label>
                                                    <input type="checkbox" ng-checked="vm.User.Roles.containsObjectWithProperty('Id', role.Id)" ng-click="toggleSelection(role)" />
                                                    <span class="fa fa-check"></span>
                                                    {{role.Name}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <!--<fieldset>
                            <div class="form-group">
                                <p>Claims</p>
                                <div ng-repeat="claim in vm.User.Claims">
                                    <div class="checkbox c-checkbox">
                                        <label>
                                            <input type="checkbox" ng-checked="true" ng-model="claim" disabled>
                                            <span class="fa fa-check"></span>{{claim.ClaimValue}}

                                        </label>
                                    </div>

                                </div>
                            </div>
                        </fieldset>-->
                        <fieldset>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="form-group">

                                        <div class="col-sm-10 col-sm-offset-2">
                                            <button type="submit" class="btn btn-default">Cancel</button>
                                            <button type="submit" class="btn btn-primary" ng-hide="IsAdding" ng-click="saveAccount()">
                                                <em class="fa fa-check fa-fw"></em>Save changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>


                </form>
            </div>
        </div>
    </div>

    <!-- Sidebar-->
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="lead">Sidebar</p>
                <p>Show profile picture/summary here...</p>
            </div>
        </div>
    </div>
</div>