<div class="row">
    <form class="form-signin" role="form" novalidate angular-validator name="userLoginForm" angular-validator-submit="login()">
        <h3 class="form-signin-heading">Sign in</h3>
        <div class="form-group">
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" name="inputUsername" class="form-control" ng-model="user.username" placeholder="Username" autocomplete="off"
                   validate-on="blur" required required-message="'Username is required'">
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="inputPassword" class="form-control" ng-model="user.password" placeholder="Password"
                   validate-on="blur" required required-message="'Password is required'">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div class="pull-right">
            <a ng-href="#/account/register" class="control-label">Register</a>
        </div>
    </form>
</div>


<!--<div class="row">
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
            <a href="#">
                <img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />
            </a>
        </div>
        <div class="panel-body">
            <p class="text-center pv">Sign in</p>
            <form role="form" ng-submit="login()" name="loginForm" novalidate ngular-validator angular-validator-submit="login()">
                <div class="form-group has-feedback">
                    <input id="exampleInputEmail1" type="email" name="account_email" placeholder="Enter email or Account" autocomplete="off" ng-model="account.email" required="" class="form-control" />
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    <span ng-show="loginForm.account_email.$dirty && loginForm.account_email.$error.required" class="text-danger">This field is required</span>
                    <span ng-show="loginForm.account_email.$dirty && loginForm.account_email.$error.email" class="text-danger">This field must be a valid email address</span>
                </div>
                <div class="form-group has-feedback">
                    <input id="exampleInputPassword1" type="password" name="account_password" placeholder="Password" ng-model="account.password" required="" class="form-control" />
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    <span ng-show="loginForm.account_password.$dirty && loginForm.account_password.$error.required" class="text-danger">This field is required</span>
                </div>
                <div class="clearfix">
                    <div class="checkbox c-checkbox pull-left mt0">
                        <label>
                            <input type="checkbox" value="" name="account_remember" ng-model="account.remember" />
                            <span class="fa fa-check"></span>Remember Me
                        </label>
                    </div>
                    <div class="pull-right">
                        <a ui-sref="page.recover" class="text-muted">Forgot your password?</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-primary mt-lg">Login</button>
            </form>
            <div ng-show="authMsg" class="alert alert-danger text-center">{{authMsg}}</div>
            <p class="pt-lg text-center">Need to Signup?</p><a ui-sref="page.register" class="btn btn-block btn-default">Register Now</a>
        </div>
    </div>
    <div class="p-lg text-center">
        <span>&copy;</span>
        <span ng-bind="app.year"></span>
        <span>-</span>
        <span ng-bind="app.name"></span>
        <br />
        <span ng-bind="app.description"></span>
    </div>
</div>-->