<hr />
<div class="row">
    <div ng-if="isLoading">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Loading...</label>
        </div>
        <div class="col-xs-4"></div>
    </div>

    <!--Role details-->
    <div class="col-lg-9" ng-hide="isLoading">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="">
                    <legend>{{IsAdding ? 'Add New Role' : 'Edit Role'}}</legend>

                    <div class="form-horizontal" novalidate>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="rolename">Role Name</label>
                                    <div class="col-sm-10">
                                        <input name="rolename" tabindex="3" id="rolename" type="text" ng-disabled="!IsAdding" class="form-control input" ng-model="vm.Role.Name" maxlength="200">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="decription">Description</label>
                                    <div class="col-sm-10">
                                        <input name="decription" tabindex="3" id="decription" type="text" class="form-control input" ng-model="vm.Role.Description" maxlength="200">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <legend>Claims</legend>
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Claim Name</td>
                                <td>Description</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="claim in vm.AllClaims | orderBy:sortType:sortReverse | filter:searchClaim">
                                <td><input type="checkbox" ng-checked="vm.Role.Claims.containsObjectWithProperty('Id', claim.Id)" ng-click="toggleSelection(claim)" /></td>
                                <td><strong>{{ claim.ClaimValue }}</strong></td>
                                <td>{{ claim.Description }}</td>
                            </tr>
                        </tbody>

                    </table>

                    <div class="clearfix">
                        <div class="pull-right">
                            <!--<button type="button" class="btn btn-default m-r-10 m-t-10">
                                <em class="fa fa-edit fa-fw"></em>Edit
                            </button>-->
                            <button type="button" class="btn btn-primary m-t-10" ng-hide="IsAdding" ng-click="saveRole()">
                                <em class="fa fa-check fa-fw"></em>Save
                            </button>

                            <button type="button" class="btn btn-primary m-t-10" ng-show="IsAdding" ng-click="addRole()">
                                <em class="fa fa-check fa-fw"></em>Add Role
                            </button>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-danger m-r-10 m-t-10" ng-hide="IsAdding" ng-click="deleteRole()">
                                <em class="fa fa-trash fa-fw"></em>Remove
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>